<h2>Create Course</h2>
<% if user_signed_in? %>
  <%= form_for @course do |f|%>
    <%= label_tag(:name, "Name:") %>
    <%= f.text_field :name %>
    <button class="btn waves-effect waves-light">
      <%= f.submit "Create" %>
    </button>
  <% end %>
<% end %>