<h1><%= @course.name %></h1>

<h4>Groups</h4>
<ul>
  <% @course.groups.each do |group|%>
    <li>
      <%= link_to(group.name, course_group_path(:course_id => @course.id, :id => group.id), method: :get) %>  
      | <span>Update</span>
      | <span>Delete</span>
    </li>
  <% end %>
</ul>
<%= link_to('Add Group', new_course_group_path(:course_id => @course.id), method: :get) %>