<div class="alert-wrapper">
<% if not notice.blank? %>
  <span class="badge blue notice"><%= notice %></span>
<% end %>
<% if not alert.blank? %>
  <span class="badge blue alert"><%= alert %></span>
<% end %>
</div>