<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Student Id</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @group.users.each do |student| %>
        <tr>
          <td><%= RoleResource.where(user_id: 2, name: 'StudentId').select("res_value").pluck(:res_value)[0] %></td>
          <td><%= student.first_name.concat(" ", student.last_name) %></td>
          <td><%= link_to('Delete', course_group_group_student_path(:group_id => params[:id], :course_id => params[:course_id], :id => student.id), method: :delete, data: {confirm: "Are you sure?"})%></td>
        </tr>
      <% end%>
    </tbody>
  </table>
</div>